<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1eh0_83wbvmGLkTxHuaWB2wOY0f525p4</string>
	<key>GCM_SENDER_ID</key>
	<string>859608128667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thefabone.nustcampushealthapp</string>
	<key>PROJECT_ID</key>
	<string>nustdb</string>
	<key>STORAGE_BUCKET</key>
	<string>nustdb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859608128667:ios:6c1e043c22d623abb47a3e</string>
</dict>
</plist>